* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
	background-attachment: fixed;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 5px 5px #031D28;
}

p {
    font-family: Tahoma;
    color: #ffffff;
}

/* ===== Header ===== */
header {
    height: 175px;
    position: relative;
}

.logo {
    display: block;
    height: 175px;
    float: left;
}
.logo img {
    height: 175px;
}

.contact {
    float: right;
    margin: 10px 30px;
}

.contact p {
    color: #128aa7;
	line-height: 18px;
}
.ourcontact {
	font-weight: bold;
}
.country {
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.country li {
    display: inline-block;
    list-style: none;
    width: 50px;
    text-align: center;
    
}

.country li a {
    font-size: 10px;
}

img {
	display: block;
}

/* ===== Content ===== */

.content {
	overflow: hidden;
}
    
 /* ===== Menu ===== */   

.menu ul {
    display: table;
	width: 100%;
    list-style: none;
}
.menu ul li {
	display: table-cell;
	font: 14px Tahoma;
	box-shadow: 0 0 3px #323232;
}
.menu ul:after {
    content: "";
    clear: both;
    display: block;
}
ul.main > li {
    position: relative;
	border-bottom: 1px solid #000000;

}
ul.main > li > a {
    display: block;
	padding: 8px;
	padding-left: 20px;
    color: #ffffff;
    background-color: #323232;
    text-decoration: none;
}
ul.main > li > a:hover {
	background-color: #494949;
}
ul.submain {
	display: none;
	position: absolute;
	width: 100%;
	background-color: #323232;
	box-shadow: 0 5px 5px #323232;
}

ul.submain > li {
	display: block;
}

ul.submain > li > a {
	display: block;
	padding: 10px;
	padding-left: 20px;
	color: #ffffff;
    background-color: #323232;
    text-decoration: none;
}
ul.submain > li > a:hover {
	text-decoration: underline;
}
ul.main > li:hover > ul.submain {
	display: block;
}

.triangle:after {
	content: " ";
	position: absolute;
	border-top: 5px solid #ffffff;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	top: 15px;
	right: 30px;
}


/* ===== Leftsidebar ===== */
.leftsidebar {
	float: left;
	width: 210px;
	padding: 10px;
	margin-bottom: -20000px;
	padding-bottom: 20000px;
	background-color: #EDEEF0;
	border: 1px solid #C7CACF;
}
.leftsidebar:after {
	content: "";
	clear: both;
	display: block;
}
.leftsidebar p {
	color: #424c43;
	line-height: 24px;
	padding-left: 15px;
}
.head {
	text-align: center;
}
h2 {
	font: 18px Tahoma;
	color: #424c43;
	font-weight: bold;
	padding-bottom: 10px;
}

/* ===== Rightsidebar ===== */
.rightsidebar {
	float: right;
	width: 210px;
	padding: 10px;
	background-color: #EDEEF0;
	margin-bottom: -20000px;
	padding-bottom: 20000px;
	border: 1px solid #C7CACF;
}
.rightsidebar:after {
	content: "";
	clear: both;
	display: block;
}
.rightsidebar p {
	color: #424c43;
	line-height: 24px;
	padding-left: 15px;
}


/* ===== Footer ===== */

footer {
    height: 30px;
}

footer p {
    text-align: center;
    line-height: 30px;
	color: #ffffff;
}
